/*
 SCSS variables
 */

/// Accsent color
$accsent-color: #15a4ee; 
$text-color: #323232;

/// Configuring Susy
$susy: (
  columns: 12,
  math: fluid,
  global-box-sizing: border-box,
  gutters: 0,
  gutter-position: inside,
  debug: (
    image: show,
    output: overlay,
    toggle: top right,
  ),
  use-custom: (
    rem: true
  )
);

/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1600px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: './' !default;
