/**
 * Basic typography style for text
 */
.menu__item {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 300;
  color: rgb(128, 128, 128);
  text-transform: uppercase;
  text-align: center;
  @include letter-spacing(50);
}

.title {
  font-size: 38px;
  font-weight: normal;
  font-family: "Lora";
  padding-bottom: 20px;
}

.text_bio  {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 20px;
  color: $text-color;
}

.contacts {
  font-size: 18;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 300;
  color: $text-color;
  @include letter-spacing(75);
}
