
/* ==========================================================================
   header.scss settings
   ========================================================================== */
//
.container__header {
	height: 100px;
	border-bottom: 1px solid #bfbfbf;
	background-color: #fafafa;
	width: 100%;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
}

.header__logo {
	@include span(2 at 1 of 12 isolate)
	height: 100%;
	display: flex;
	align-items: center;
}

.logo {
	margin-left: 40px;
}

.header__menu {
	@include span(8 at 3 of 12 isolate)
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.list {
	padding: 0;
}

.main__menu {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0 15%;
}

.menu_link {
	color: #808080;
	@include on-event {
		text-decoration: none;
		padding-bottom: 2px;
		border-bottom: 1px solid $accsent-color;
		color: $accsent-color;
	} 
}

.menu__item, .menu__lang, .menu__cv, .menu__separ {
	display: inline-block;
}

.language__menu {
	@include span(2 at 11 of 12 isolate)
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu {
	width: 65px;
	margin-right: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	.menu__lang, .menu__separ {
		padding: 0 3px;
	}

	& li:nth-child(3) {
		padding-right: 0;
	};
}