
/*
hello-section
 */
.section_hello {
	height: calc(100vh - 100px);
	min-height: 700px;
	padding: 80px 0;
}

.hello__image {
	@include span(2 of 12 at 3 isolate)
	height: inherit;
	display: flow;
	min-width: 200px;
	padding-right: span (.5 of 12);
}

.image_container {
	width: 200px;
	height: 200px;
	@include border-radius(100px);
	overflow: hidden;
	background-color: #aaa;
}

.avatar {
	width: 200px;
	height: auto;
}

.hello_bio {
	@include span(5.5 of 12 at 5.5 isolate)

	.title {
		margin-top: 70px;
	}
}
