.section_portfolio {
	background-color: #d67;
}

.portfolio {
	display: flex;
	flex-direction: column;
}

.case__container {
	height: 700px;
	width: 100%;
	overflow: hidden;

	.slider-wrap {
		position: relative;
    width: 1100px;
    margin: 0 auto;

    .slider {
      position: absolute;
      width: 4400px;
      display: flex;
      z-index: 1;

      .slide {
        height: 700px;
        width: 1100px;
      }

      .slide-first {
        margin-left: 0;
      }
    }
  }
}

.arrow {
  width: 40px;
  height: 40px;
  background-color: green;
  position: absolute;
  margin-top: 330px;
  z-index: 2;
}

.arrow-left {
  left: 40px;
}

.arrow-right {
  right: 40px;
}